
//#joblodo@cdo-global.ru
//#Job_Kyungu_L






// ====== This is File , is the globality of all the variables found in this Documents =========

// $__ColorBackBtn    : #ED4242;
$__ColorBackBtn    : #74D414;
$__ColorBtn        : white;
$__ColorTxtLow     : #65696E;
$__ColorTxt        : #2E3237;
$__ColorTxtBlack   : #000000;
$__ColorBackHeader : #E8E8E8;
$__Color_primary   : #ccc;
$__colorBackground : #f5f5f5;
